         .page_title { text-align: center; padding:5px;}
         .headerRow { background-color:#d6ecf6; }
         .col-md-4 { padding:15px; }
         
         .filterName {height: 50px;
            line-height: 50px;
            text-align: center; }
       .switchKo { 
           margin-bottom: -10px;
           position: relative;
            display: inline-block;
            width: 80px;
            height: 34px; 
            background-color:#dedede;
       }  
      .on  { 
            position: absolute;
            content: "";
            height: 34px;
            color:#000;
            width: 40px;
             top: 0;
            left: 39;
            right: 0;
            bottom: 0;
            border:1px solid #ffffff;
            box-shadow: 0 0 1px #2196F3;
            background-color: #2196F3;
            -webkit-transition: .4s;
            transition: .4s;}
      .off {
            position: absolute;
            content: "";
            height: 34px;
            color:#000;
            width: 40px;
            border:1px solid #ffffff;
            box-shadow: 0 0 1px #2196F3;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
      }
        
        option { padding:15px; }
        
        
