<!DOCTYPE html>
<html ng-app="PlayerDraftApp">
    <head>
        <title>Draft Player</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap CSS -->
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
        <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="bower_components/tether/dist/js/tether.min.js" type="text/javascript"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
       
        <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-rangeslider/angular.rangeSlider.js" type="text/javascript"></script>
        <link href="bower_components/angular-rangeslider/angular.rangeSlider.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <script src="index.js"></script>
        <link href="customStyle.css" rel="stylesheet" type="text/css"/>
        <script src="js/custom.js" type="text/javascript"></script>
       
    </head>
    <body>
       <div class="container" ng-controller="PlayerDraftCtrl as playerDraftCtrl">
           <div class="row">
               <div class="col-md-12">
                   <h1 class="page_title">2017 Top Draft Players List</h1>
               </div>
           </div>
           <div class="row headerRow">
            <div class="col-xs-6 col-md-4">
                <span class="filterName">Filter mode</span>
                     <div class="switchKo">
                        <input type="button" id="btntoggle" value="Off" class="off" onclick="toggleState(this)" />
                        <span class=""></span> 
                     </div> 
            </div>
            <div class="col-xs-6 col-md-4">
                <div>Filter by</div>
                <label class="formgroup">
                    <select ng-model="playerOrder" id="playerOrder" disabled >
                        <option value=""></option>
                        <option value="salary">Salary</option>
                        <option value="points">Points</option>
                        <option value="rebounds">Rebounds</option>
                        <option value="assists">Assists</option>
                        <option value="steals">Steals</option>
                        <option value="blocks">Blocks</option>
                    </select>
                </label>
                <label class="formgroup">
                    <select ng-model="direction" id="direction" disabled>
                    <option value="">Ascending</option>
                    <option value="reverse">Descending</option>
                    </select>
                </label>
                
            </div>
            <div class="col-xs-6 col-md-4">
                Salary Range
                <div range-slider=""
                     min="playerDraftCtrl.rangeSample.range.min" max="playerDraftCtrl.rangeSample.range.max" 
                     model-min="playerDraftCtrl.rangeSample.minPrice" model-max="playerDraftCtrl.rangeSample.maxPrice" 
                     filter="currency:'$'"
                     step="100" show-values="true" attach-handle-values="true"></div>
             
            </div>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Salary/yr</th>
                <th>Points</th>
                <th>Rebounds</th>
                <th>Assists</th>
                <th>Steals</th>
                <th>Blocks</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                
              <tr ng-repeat="player in players | orderBy: playerOrder:direction">
                <td><!--playerDraftCtrl.editPlayer(player, $index)-->
                    <button class="btn btn-sm btn-success" ng-click="playerDraftCtrl.editPlayer(player, $index);"><i class="fa fa-edit"></i>{{player.id}}</button>
                </td>
                <td>{{player.fname}}</td>
                <td>{{player.lname}}</td>
                <td>{{player.salary}}</td>
                <td>{{player.points}}</td>
                <td>{{player.rebounds}}</td>
                <td>{{player.assists}}</td>
                <td>{{player.steals}}</td>
                <td>{{player.blocks}}</td>
                <td><button ng-click="playerDraftCtrl.removePlayer(player.id)">Delete</button></td>  
               </tr>
              </tbody>
          </table>
            
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Add New Player
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Add New Player</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                       <!-- form  add new player ng-submit="submitForm()" novalidate-->
                       <form name="userForm">
                            <div class="form-group">
                              <label for="inputFirstName">First Name</label>
                              <input required type="text" class="form-control" name="inputFirstName" id="inputFirstName" ng-model="dataObj.fname" placeholder="First Name">
                              <p  class="error validationerror" ng-show="formPlayer.inputFirstName.$touched && formPlayer.inputFirstName.$invalid">The name is required.</p>
                            </div>
                            <div class="form-group">
                              <label for="inputLastName">Last Name</label>
                              <input required type="text" class="form-control" id="inputLastName" ng-model="dataObj.lname" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                              <label for="inputSalary">Salary (per year)</label>
                              <input required type="text" class="form-control" id="inputSalary" ng-model="dataObj.salary" placeholder="Salary per year">
                            </div>
                            <div class="form-group">
                              <label for="inputPoints">Points (per game)</label>
                              <input required type="text" class="form-control" id="inputPoints" ng-model="dataObj.points" placeholder="Points">
                            </div>
                            <div class="form-group">
                              <label for="inputRebounds">Rebounds (per game)</label>
                              <input required type="text" class="form-control" id="inputRebounds" ng-model="dataObj.rebounds" placeholder="Rebounds">
                            </div>
                            <div class="form-group">
                              <label for="inputAssists">Assists (per game)</label>
                              <input required type="text" class="form-control" id="inputAssists" ng-model="dataObj.assists" placeholder="Assists">
                            </div>
                            <div class="form-group">
                              <label for="inputSteals">Steals (per game)</label>
                              <input required type="text" class="form-control" id="inputSteals" ng-model="dataObj.steals" placeholder="Steals">
                            </div>
                            <div class="form-group">
                              <label for="inputBlocks">Blocks (per game)</label>
                              <input required type="text" class="form-control" id="inputBlocks" ng-model="dataObj.blocks" placeholder="Blocks">
                            </div>
                        </form>   
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="playerDraftCtrl.updatePlayer();" ng-show="isInEditMode" >Update </button> 
                    <button type="button" class="btn btn-primary" ng-click="playerDraftCtrl.addPlayer();" ng-hide="isInEditMode">Add</button> 
                  </div>
                </div>
              </div>
            </div>
          
            
            
    </div><!--end_container-->
          
                  
    </body>
</html>
